/*nav {
    width: 100vw ;
    padding: 2vw;
    background-color: #7fffd4;
    border: solid #62c9a6 1px;
}

div {
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button.navbar-toggler {
    border: solid black 2px;
}
*/
div>section {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

div>section>.btnvideo {
    margin: auto;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width: 90vw;
}

video {
    display: block;
    width: 80vw;
    margin: auto;
    margin-top: 2.5vw;
}

div>section.btns-links {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vw;
    margin-top: 2.5vw;
}

div>section.brief-info {
    width: 90vw;
    margin: 5vw;
    display: flex;
    justify-content: center;
}

div>section.brief-info>p {
    text-align: justify;
    text-justify: inter-word;
}